{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    .opts {
        margin: 2rem 2rem;
    }

    .dash {
        background-color: rgb(94 234 212);
    }

    td {
        border: 0;
        height: 3rem;
    }
</style>
{% endblock %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="maincont h-full overflow-y-auto text-gray-800">
    <div class="opts flex gap-3">
        <div class="shadow-md flex gap-4 h-20 w-72 lg:h-28 lg:w-96 rounded-lg border-2 border-gray-200">
            <i class="fa-solid fa-user-group my-auto lg:text-3xl ml-5"></i>
            <div class="my-auto">
                <p class="lg:text-lg">Total Patients</p>
                <p class="lg:text-2xl">{{count}}</p>
            </div>
        </div>
        <div class="shadow-md flex gap-4 h-20 w-72 lg:h-28 lg:w-96 rounded-lg border-2 border-gray-200">
            <i class="fa-solid fa-circle-exclamation my-auto lg:text-3xl ml-5"></i>
            <div class="my-auto">
                <p class="lg:text-lg">Critical Patients</p>
                <p class="lg:text-2xl">{{critcount}}</p>
            </div>
        </div>
    </div>
    <div class="opts">
        <div class="shadow-md w-auto min-h-[30rem] rounded-lg border-2 border-gray-200 text-xl">
            <div class="m-4">
                <p class="text-4xl border-b-2 border-b-gray-300 pb-4">Newest Update</p>

                {% if newestpat %}
                <table class="table-auto">
                    <tr>
                        <td class="!w-[8rem]">Name:</td>
                        <td>{{newestpat.full_name}}</td>
                    </tr>
                    <tr>
                        <td class="!w-[8rem]">Updated On:</td>
                        <td>{{newestpat.newest_update}}</td>
                    </tr>
                    <tr>
                        <td class="!w-[8rem]">
                            <div class="block rounded-full bg-green-500 w-8 h-8 text-center group relative">
                                <a href="//{{phone}}" target="_blank" class="mx-auto text-white">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                                <div
                                    class="absolute left-0 mt-1 p-0.5 bg-gray-200 text-sm -z-20 transition-all duration-300 group-hover:z-0 rounded-md w-[11rem]">
                                    contact through whatsapp
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="graph">
                <div id="graph1" style="overflow-y: auto;"></div>
            </div>
            {% else %}
            <p style="margin: 12rem auto; text-align: center;">No New Updates</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    /* eslint-disable no-undef */
    const ekg_volt = {{ ekgvolt | safe}};
    const ekg_times = {{ ekgtimes | safe}};


    var trace1 = {
        x: ekg_times,
        y: ekg_volt,
        type: 'scatter'
    };

    const ekgLayout = {
        xaxis: { title: 'Measurement Index' },
        yaxis: { title: 'Voltage (mV)' },
        paper_bgcolor:'rgba(0,0,0,0)',
        plot_bgcolor:'rgba(0,0,0,0)',
    };

    var data = [trace1];

    Plotly.newPlot('graph1', data, ekgLayout);
</script>
{% endblock %}