{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    .navleft {
        display: none;
    }
</style>
{% endblock %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="container">
    <h3 class="title">Login</h3>
    <form action="{% url 'loginusr' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <br> <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br> <br>
        <div class="submit">
            <input id="login" type="submit" value="Login">
        </div>
    </form>
    <div class="returnlog">
        <p>havent made an account?</p>
        <p><a href="{% url 'register' %}">Register</a></p>
    </div>
</div>

{% endblock content %}