{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    th,
    td {
        width: 10%;
        height: 3rem;
    }

    #search {
        border: none;
    }

    .popform {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #f1f1f1;
        z-index: 6;
        text-align: center;
        border-radius: 1rem;
        padding: 2rem;
        background-color: white;
    }

    .popform.active {
        display: block;
    }

    .pats {
        background-color: rgb(94 234 212);
    }

    .btn_cancel {
        background-color: transparent;
        color: black;
        margin-bottom: .5rem;
        text-align: right;
        border: none;
    }
</style>
{% endblock %}
{% block title %}Patients List{% endblock title %}
{% block content %}
<div class="maincont mx-8">
    <div class="mt-24">
        <div class="topper md:flex">
            <div class="folderin">
                <button type="button"
                    class="open-filein hover:bg-white hover:!text-teal-500 bg-teal-500 py-1 px-2 rounded-md text-white font-semibold"
                    data-target="#patientform">+ Add Patients</button>

                <div class="popform" id="patientform">
                    <div class="btn_cancel">
                        <button type="button" class="btn_cancel" data-target="#patientform">X</button>
                    </div>
                    <form action="{% url 'addpatient' %}" method="POST" class="form-container"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="patname">Patient Name:</label>
                        <input type="text" name="patname" id="patname">
                        <br><br>
                        <label for="patnum">Patient Number:</label>
                        <input type="number" name="patnum" id="patnum">
                        <br><br>
                        <input type="submit">

                    </form>
                </div>
            </div>
            <br>
            <div class="search rounded-xl border-gray-800 border h-12 text-sm shadow-sm flex items-center"
                style="margin: 0 auto;">
                <form method="GET" action="{% url 'searchpat' %}" class="sm:w-[4rem] md:w-[24rem] mx-auto">
                    {% if query %}
                    <input type="text" id="search" name="quest" value="{{query}}" class="md:w-[22rem] w-12 h-8 ">
                    {% else %}
                    <input type="text" id="search" name="quest" value="{{query}}" class="md:w-[22rem] w-26 h-8" placeholder="Search Patients">
                    {% endif %}
                    <button class="spy" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

        </div>
        <br>
        <div class="opts overflow-x-auto shadow-md rounded-md block">
            <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
                <thead class="ltr:text-left rtl:text-right">
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Patient's ID</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Last Updated</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    {% for i in patients%}
                    <tr class="odd:bg-gray-100 hover:cursor-pointer"
                        onclick="window.location='/patients-detail/{{i.id}}'">
                        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{i.full_name}}</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{i.id}}</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{i.newest_update}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script%}
<script>
    const btns = document.querySelectorAll("[data-target]");
    const cls_btns = document.querySelectorAll(".btn_cancel");
    const overlay = document.getElementById("overlay");

    btns.forEach((btn) => {
        btn.addEventListener("click", () => {
            document.querySelector(btn.dataset.target).classList.add("active");
            if (overlay.className === "overlay") {
                overlay.className += "active";
            }
        });
    });

    cls_btns.forEach((btn) => {
        btn.addEventListener("click", () => {
            document.querySelector(btn.dataset.target).classList.remove("active");
            overlay.className = "overlay";
        });
    });
</script>
{% endblock %}